<%= form_for [@version, @work], remote: true, html: { class: 'tabular' } do |f| %>
  <%= error_messages_for @work %>

  <div class="box">
    <p>
      <%= f.label :name, l(:field_name) %><span class="required"> *</span>
      <%= f.text_field :name, size: 60, required: true %>
    </p>

    <p>
      <%= f.label :planned_hours, l(:field_planned_hours) %>
      <%= f.number_field :planned_hours, min: 0, step: 0.5 %>
    </p>
  </div>

  <%= f.submit @work.new_record? ? l(:button_create) : l(:button_save) %>
  <%= link_to l(:button_cancel), '#', class: 'js-cancel-form' %>
<% end %>

<%= javascript_tag do %>
  $(document).ready(function() {
  $('.js-cancel-form').click(function(e) {
  e.preventDefault();
  $('#work-form').remove();
  $('#work-form-row-<%= @work.try(:id) %>').remove();
  });
  });
<% end %>