<!--# plugins/redmine_auto_report/app/views/contract_works/_list.html.erb-->
<div class="contextual">
  <%= link_to l(:button_merge_hours),
              merge_hours_version_contract_works_path(@version),
              class: 'icon icon-link merge-hours',
              style: 'display: none',
              remote: true %>
  <%= link_to l(:button_unmerge_hours),
              unmerge_hours_version_contract_works_path(@version),
              class: 'icon icon-unlink unmerge-hours',
              style: 'display: none',
              remote: true %>
</div>

<table class="list contract-works">
  <thead>
  <tr>
    <th>#</th>
    <th><%= l(:field_name) %></th>
    <th><%= l(:field_hours) %></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @version.contract_works.each do |work| %>
    <tr class="work <%= 'merged' if work.merged_hours.present? %>"
        data-id="<%= work.id %>">
      <td class="position"><%= work.position %></td>
      <td class="name"><%= h work.name %></td>
      <td class="hours <%= 'merged' if work.merged_hours.present? %>">
        <%= h work.effective_hours %>
      </td>
      <td class="buttons">
        <%= link_to l(:button_edit),
                    edit_version_contract_work_path(@version, work),
                    remote: true,
                    class: 'icon icon-edit' %>
        <%= link_to l(:button_delete),
                    version_contract_work_path(@version, work),
                    method: :delete,
                    remote: true,
                    class: 'icon icon-del',
                    data: { confirm: l(:text_are_you_sure) } %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>