# plugins/redmine_auto_report/app/views/issues/_contract_work_form.html.erb
<% if @issue.project.versions.any? %>
  <div class="splitcontent">
    <div class="splitcontentleft">
      <p>
        <label><%= l(:label_contract_work) %></label>
        <% contract_works = @issue.fixed_version ? @issue.fixed_version.contract_works.order(:position) : [] %>
        <%= select_tag 'issue[contract_work_id]',
                       options_from_collection_for_select(contract_works, :id, :name, @issue.contract_work_id),
                       include_blank: true,
                       disabled: contract_works.empty? %>
      </p>
    </div>

    <div class="splitcontentright">
      <div id="report_period_fields" <%= 'style="display:none;"' if @issue.contract_work_id.blank? %>>
        <p>
          <label><%= l(:label_report_period) %></label>
          <%= text_field_tag 'issue[report_period]', @issue.report_period, size: 10 %>
        </p>

        <p>
          <label><%= l(:label_report_hours) %></label>
          <%= number_field_tag 'issue[report_hours]', @issue.report_hours, min: 0, step: 0.5 %>
        </p>
      </div>
    </div>
  </div>

  <%= javascript_tag do %>
    $(document).ready(function() {
    $('#issue_fixed_version_id').change(function() {
    var versionId = $(this).val();
    if (versionId) {
    $.get('<%= contract_works_for_version_path %>', { version_id: versionId }, function(data) {
    var select = $('#issue_contract_work_id');
    select.empty();
    select.append($('<option>'));
  $.each(data, function(i, work) {
  select.append($('<option>', {
  value: work.id,
  text: work.name
  }));
  });
  select.prop('disabled', false);
  });
  } else {
  $('#issue_contract_work_id').empty().prop('disabled', true);
  $('#report_period_fields').hide();
  }
  });

  $('#issue_contract_work_id').change(function() {
  if ($(this).val()) {
  $('#report_period_fields').show();
  } else {
  $('#report_period_fields').hide();
  }
  });
  });
  <% end %>
<% end %>