<div class="contract-works box">
  <h3><%= l(:label_contract_works) %></h3>

  <div class="contextual">
    <%= link_to l(:label_contract_work_new),
                new_version_contract_work_path(@version),
                class: 'icon icon-add',
                remote: true %>
  </div>

  <div class="contract-works-list">
    <% if @version.contract_works.any? %>
      <p class="total-hours">
        <%= l(:label_total_planned_hours) %>: <%= @version.total_planned_hours %>
      </p>
      <table class="list">
        <thead>
        <tr>
          <th>#</th>
          <th><%= l(:field_name) %></th>
          <th><%= l(:field_planned_hours) %></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <% @version.contract_works.order(:position).each do |work| %>
          <%= render partial: 'versions/contract_work', locals: { work: work, version: @version } %>
        <% end %>
        </tbody>
      </table>
    <% else %>
      <p class="nodata"><%= l(:label_no_data) %></p>
    <% end %>
  </div>
</div>