# plugins/redmine_auto_report/app/views/versions/_work_dates_info.html.erb
<div class="work-dates box">
  <% if version.work_start_date.present? || version.work_end_date.present? %>
    <h3><%= l(:label_work_dates) %></h3>
    <table class="attributes">
      <% if version.work_start_date.present? %>
        <tr>
          <th><%= l(:field_work_start_date) %>:</th>
          <td><%= format_date(version.work_start_date) %></td>
        </tr>
      <% end %>
      <% if version.work_end_date.present? %>
        <tr>
          <th><%= l(:field_work_end_date) %>:</th>
          <td><%= format_date(version.work_end_date) %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
</div>