<!--# plugins/redmine_auto_report/app/views/auto_reports/edit.html.erb-->
<h2><%= l(:label_auto_report) %> #<%= @report.number %>: <%= l(:button_edit) %></h2>

<%= form_for @report, html: { class: 'tabular' } do |f| %>
  <%= error_messages_for @report %>

  <div class="box">
    <p>
      <%= f.label :version_id, l(:field_version) %><span class="required"> *</span>
      <%= f.select :version_id,
                   Version.open.map { |v| ["#{v.project.name} - #{v.name}", v.id] },
                   { include_blank: true },
                   { required: true } %>
    </p>

    <p>
      <%= f.label :period_type, l(:field_auto_report_period_type) %><span class="required"> *</span>
      <%= f.select :period_type,
                   [[l(:auto_report_period_type_month), 'month'],
                    [l(:auto_report_period_type_quarter), 'quarter'],
                    [l(:auto_report_period_type_custom), 'custom']],
                   { include_blank: true },
                   { required: true } %>
    </p>

    <p>
      <%= f.label :period_start, l(:field_auto_report_period_start) %><span class="required"> *</span>
      <%= f.date_field :period_start, required: true %>
    </p>

    <p>
      <%= f.label :period_end, l(:field_auto_report_period_end) %><span class="required"> *</span>
      <%= f.date_field :period_end, required: true %>
    </p>
  </div>

  <%= submit_tag l(:button_save) %>
  <%= link_to l(:button_cancel), report_path(@report) %>
<% end %>